

<MudTabs Centered="true" Position="Position.Top">
    <MudTabPanel Text="Message" Class="pa-2">
        <div class="pa-4" style="overflow-y: auto;">
            <pre style="white-space: pre-wrap; word-wrap: break-word;">
                @Message?.MessageJson
            </pre>
        </div>
    </MudTabPanel>

    <MudTabPanel Text="Headers">
        <div class="pa-4">
            @foreach (var (key, value) in Message?.Headers ?? [])
            {
                <MudChip T="string" Size="Size.Medium">
                    @($"{key}: {value}\n")
                </MudChip>
            }
        </div>
    </MudTabPanel>

    <MudTabPanel Text="Errors"
                 BadgeData="@(Message?.ErrorBadgeData)"
                 BadgeColor="Color.Error">

        <pre class="pa-4"
             style="white-space: pre-wrap; word-wrap: break-word;">

            @Message?.GetErrors()
        </pre>

    </MudTabPanel>

    <MudTabPanel Text="Properties">
        <div class="pa-4" style="overflow-y: auto;">
            <MudSimpleTable Dense="true" Elevation="0">
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (key, value) in Message?.MessageProperties ?? [])
                    {
                        <tr>
                            <td>@($"$.{key}")</td>
                            <td>@value</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </div>
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter, EditorRequired]
    public MessageViewModel? Message { get; set; }
}
